{% extends 'base.html' %}


{% block content %}
<form  method="post" novalidate>
    <p>{{ form.username.label }} {{ form.username(size=32) }}</p> {% for err in form.username.errors %}<span style="color:red;"> {{ err }}</span> {% endfor %}
    <p>{{ form.password.label }} {{ form.password(size=32) }}</p> {% for err in form.password.errors %}<span style="color:red;"> {{ err }}</span> {% endfor %}
    <p> {{ form.remember_me.label }} {{ form.remember_me() }}</p>
    <p> {{ form.hidden_tag() }}</p> {% for err in form.hidden_tag.errors %}<span style="color:red;"> {{ err }}</span> {% endfor %}
    <p> {{ form.signin() }}</p>
</form>
{% endblock %}